[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = 'pypi'

[packages]
beautifulsoup4 = "*"
click = "*"
faker = "*"
flask = "*"
ipdb = "*"
ipython = "*"
itsdangerous = "*"
jinja2 = "*"
lxml = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
parsel = "*"
pillow = "*"
psutil = "*"
psycopg2 = "*"
pymongo = "*"
python-dotenv = "*"
pyyaml = "*"
requests = "*"
sqlalchemy = "*"
voluptuous = "*"
werkzeug = "*"
xlrd = "*"
typing = "*"

[dev-packages]
twine = "*"
tox = "*"
sphinx = "*"
fabric = "*"
coverage = "*"
flake8 = "*"
ipdb = "*"
pytest = "*"
pytest-sugar = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = '3.6'
python_full_version = '3.6.5'
