[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = 'pypi'

[packages]

Pillow = "*"
PyYAML = "*"
SQLAlchemy = "*"
beautifulsoup4 = "*"
click = "*"
coverage = "*"
lxml = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
parsel = "*"
psutil = "*"
psycopg2 = "*"
pyOpenSSL = "*"
pymongo = "*"
requests = "*"
sqlalchemy = "*"
tablib = "*"
urllib3 = "*"
xlrd = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
ipdb = "*"
pytest = "*"
pytest-sugar = "*"
"yapylib" = {path = ".", editable = true}

[requires]
python_version = '3.6'
python_full_version = '3.6.5'


